@font-face {
  font-family: 'MiFuenteItalic';
  src: url('../fonts/GODOFWAR.TTF');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'MiFuenteItalic', sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #111111;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

ul {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

ul li a {
  display: inline-block;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

ul li:nth-child(odd) a:hover {
  font-weight: bold;
  background: linear-gradient(90deg, #ff0000, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-2px);
}

ul li:nth-child(even) a:hover {
  font-weight: bold;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-2px);
}

body {
  display: flex;
  flex-direction: column;
  height: 100lvh;
  background-image: url(../img/background2.jpg);
  background-position: center;
  background-size: 100%;
}

main {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

/* FIN */

h1 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  backdrop-filter: blur(5px);
  font-size: 60px;
  padding: 10px;
  border-radius: 20px;
}

.divInput {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, .4);
}

.divInput input {
  border: none;
  font-size: 16px;
  flex-grow: 1;
  font-weight: 100;
}

.divInput input::placeholder {
  color: rgb(131, 131, 131);
}

.divInput input:focus {
  outline: none;
}

.divInput button {
  border: none;
  background-color: #111111;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px;
  width: 25%;
  border-radius: 8px;
  cursor: pointer;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.divInput button:hover {
  background-color: #ff0000;
  animation: pulse 1s;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 600;
  max-width: 600px;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  color: white;
}

.card {
  animation: levitar 3s ease-in-out infinite;
  width: 100%;
  max-width: 450px;
  height: 200px;
  perspective: 700px;
  opacity: .93;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  position: relative;
}

.card .front {
  background-image: url(../img/imgFront.jpg);
  background-size: cover;
  background-position: center;
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.card .back {
  background-image: url(../img/imgFront.jpg);
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.card-inner.spin {
  transform: rotateY(180deg);
  animation: crazySpin normal 3s;
}

.card-inner.flip {
  transform: rotateY(180deg);
}

@keyframes crazySpin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(900deg);
  }
}


@keyframes aparecer {
  0% {
    transform: translateY(-20px);
    opacity: 0;
    color: #00c6ff
  }

  50% {
    transform: translateY(0);
    opacity: 1;
    color: #00c6ff;
  }

  100% {
    color: black;
  }
}

.animado {
  animation: aparecer 2s ease-out;
}

@keyframes aparecer2 {
  0% {
    transform: translateY(-20px);
    opacity: 0;
    color: #ff0000;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
    color: #ff0000;
  }

  100% {
    color: black;
  }
}

@keyframes levitar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.animado2 {
  animation: aparecer2 2s ease-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}